# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user

# ReSharper/Rider
_ReSharper*/
*.ReSharper
.idea/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# OS files
.DS_Store
Thumbs.db

# User-specific files
*.userprefs
*.suo
*.user

.project
*.swp
*~.nib
